:root {
  --main-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --title-color: #ffffff;
  --dark-bg-color: #2f303a;
  --main-bg-color: #e5e5e5;
  --second-bg-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-font: 'Raleway', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var (--main-text-color);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  width: 1600px;
  background-color: var(--title-color);
  border: 1px solid #ececec;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.dark-bg-title > .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 0;
}

.bg-title > .conteiner {
  padding-top: 94px;
}

.header-section {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.header-connection {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-logo {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  margin-right: 93px;

  font-family: var(--logo-font);
  color: var(--accent-color);
  text-decoration: none;
}

.dark-logo {
  font-family: var(--logo-font);
  color: #000000;
  text-decoration: none;
}

.light-logo {
  font-family: var(--logo-font);
  color: #ffffff;
  text-decoration: none;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--second-text-color);
}

.link-current {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list-connection:hover,
.list-connection:focus {
  color: var(--accent-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
}

.button {
  display: inline-block;
  min-width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var (--second-text-color);
  background-color: var(--second-bg-color);
  cursor: pointer;
}

.dark-bg-title,
.dark-bg-footer {
  width: 1600px;
  background-color: var(--dark-bg-color);
}

.bg-title {
  width: 1600px;
}

.bg-title .main-dg-color {
  background-color: var(--main-bg-color);
}
.second-bg-color {
  background-color: var(--second-bg-color);
}

.list-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.list .item:not(:last-child) {
  margin-right: 50px;
}

.list .item-list:not(:last-child) {
  margin-right: 30px;
}

.list,
.list-connection {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.item-list {
  min-width: 270px;

  font-size: 14px;
  line-height: 1.71;
  color: var(--main-text-color);
}

.title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.second-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.list-connection {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.team-item {
  text-align: center;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.team-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.link-connection {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
}
